<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- INTERNET for Firebase + Google Maps -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- LOCATION PERMISSIONS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- Optional (future live truck tracking / background GPS) -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <!-- for launching Google Maps navigation on Android 11+ -->
    <queries>

        <!-- Allow app to check if Google Maps exists -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="google.navigation"/>
        </intent>

        <!-- Optional fallback (opens browser maps) -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>

    </queries>

    <application
        android:label="muc_digital"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- GOOGLE MAPS API KEY -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyACUjnMs8ntXloajN-wJx9rr4eoTe31pPE"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|layoutDirection|fontScale|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <!-- REQUIRED FOR FLUTTER -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>
</manifest>
